<!DOCTYPE HTML>
<html lang="en">
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{{ page.title }}</title>
      <link rel="stylesheet" href="/styles/main.css?{{site.time | date: '%s%N'}}"/>
      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
       })(window,document,'script','dataLayer','GTM-WK9Q8F4');</script>
      <!-- End Google Tag Manager -->
    </head>
    <body>
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WK9Q8F4" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
      <div id="main-nav">
        <div class="holder">
          <a id="iconic-logo" href="/"><img src="/images/travel-weft-w.svg"/></a>
          <div class="links">
            <a href="/">Overview</a>
            <a href="/tenets">Core Tenets</a>
            <a href="/get-involved">Get Involved</a>
            <a href="/support">Support TravelWeft</a>
          </div>
        </div>
      </div>
      <div id="content">
        {% if page.show-header %}
        <div id="header">
          <div id="logo"><img src="/images/travel-weft-logo.svg"/></div>
          <div id="definition">
            <span class="term">Weft</span>
            <span class="part-of-speech">noun</span>
            <span class="meaning">the crosswise threads on a loom that are passed over and under the warp threads to make cloth</span>
          </div>
        </div>
        {% endif %}
        {{ content }}
      </div>
      <div id="footer">
        <div class="social">
          <span class="twitter-logo"><img src="/images/twitter-logo-blue.svg"></span> <a href="https://www.twitter.com/travelweft">@travelweft</a>
        </div>
        <div id="license">
          <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">travelweft.io</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="https://twitter.com/shr" property="cc:attributionName" rel="cc:attributionURL">@shr</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
        </div>
      </div>
    </body>
</html>
