body {
  font-family: helvetica, sans-serif; 
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background: linear-gradient(to top, white, #f5f5e9) fixed;
  margin: 0;
  padding: 0;
}

div#main-nav {
  position: fixed;
  width: 100%;
  padding: 0;
  background-color: #fff;
}

div#main-nav .holder {
  width: 80%;
  margin: auto;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  position: relative;
}

div#main-nav .holder:before,
div#main-nav .holder:after {
  content:"";
  position:absolute;
  z-index:-1;
  -webkit-box-shadow:0 0 20px rgba(0,0,0,0.3);
  -moz-box-shadow:0 0 20px rgba(0,0,0,0.3);
  box-shadow:0 0 20px rgba(0,0,0,0.3);
  top:50%;
  bottom:0;
  left:10px;
  right:10px;
  -moz-border-radius:100px / 10px;
  border-radius:100px / 10px;
}

div#main-nav .holder:after {
  right:10px;
  left:auto;
  -webkit-transform:skew(8deg) rotate(3deg);
  -moz-transform:skew(8deg) rotate(3deg);
  -ms-transform:skew(8deg) rotate(3deg);
  -o-transform:skew(8deg) rotate(3deg);
  transform:skew(8deg) rotate(3deg);
}

a#iconic-logo {
  display: block;
  width: 54px;
  margin-right: auto;
}

a#iconic-logo img {
  width: 100%;
}


div#main-nav .holder .links {
  display: flex;
  justify-content: center;
}

div#main-nav .holder a {
  text-decoration: none;
  font-size: 18px;
  color: #503d19;
  display: block;
  padding: 14px 24px;
}

div#main-nav .holder a:hover {
  background-color: #f5f5f5;
}

div#header {
}

div#logo {
  width: 200px;
  margin: auto;
}

div#logo img {
  width: 100%;
}

div#definition {
  font-family: monospace;
  font-size: 15px;
  max-width: 500px;
  margin: auto;
  text-align: center;
}

div#definition .term {
  font-weight: bold;
}

div#definition .part-of-speech:before,
div#definition .part-of-speech:after {
  content: " ~ ";
}

div#definition .part-of-speech {
  font-style: italic;
}

div#content {
  margin: auto;
  padding-top: 120px;
  width: 80%;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

h1 {
  line-height: 3.2em;
  font-size: 36px;
}

h2 {
  font-size: 24px;
  line-height: 3.2em;
}

p {
  line-height: 1.6em;
  font-size: 20px;
  margin: 0 0 1.6em 0;
  padding: 0;
}

#content a, #content a:visited, #footer a, #footer a:visited {
  color: #06A;
  text-decoration: none;
}

#content a:hover, #footer a:hover {
  text-decoration: underline;
}

div#footer {
  margin: 30px 0;
}

div#footer div.social {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 0;
}
div#footer div.social span.twitter-logo {
  display: inline-block;
  width: 36px
}
div#footer div.social span.twitter-logo img {
  width: 100%;
}

div#license {
  width: 400px;
  text-align: center;
  font-size: 14px;
  margin: auto;
}
div#license a:first-child {
  display: block;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  div#main-nav {
    position: static;
  }
  div#main-nav .holder {
    width: 100%;
    margin: auto;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    position:relative;
  }
  #iconic-logo {
    margin: auto;
  }
  div#main-nav .holder .links {
    flex-direction: column;
  }
  div#main-nav .holder .links a {
    text-align: center;
    border-top: 1px solid #e6e6e6;
  }
  div#content {
    padding-top: 40px;
    width: 90%;
  }
}